// Pages

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/pages';

// Add custom SCSS below these imports and includes.
@import 'components/pages';

div.footer div.inner {
 font-family: "Open Sans", Ariel, Helvetica, sans-serif;
 font-weight: normal;
 width: 800px;
 padding: 0px;
 padding-top: 30px;
}

div.footer div.inner div.omni-left {
 float: left;
 width: 33%;
 clear: right;
}
div.footer div.inner div.omni-right {
 float: right;
 width: 66%;
}

.omni-bookinfo, .cie-name{
 text-align: left;
 text-indent: -2em;
 padding-left: 2em ;
 font-size: 0.9em;
 line-height: 1.2em;
 margin-bottom: 1em; 
}
p.omni-bookinfo span.key {
 font-weight: bold;
}
p.omni-bookinfo span.info {
 font-weight: normal !important;
}

.footer .license-attribution p {
 text-align: left;
 text-indent: 0px;
 font-size: 0.9em;
 line-height: 1.2em;
 margin-bottom: 1em; 
}
.footer .license-attribution img {
  margin-right: 1em;
} 
